@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping {
	75%, 100% {
	  transform: scale(.9);
	  opacity: 1;
	}
  }

html {
	background: linear-gradient(215deg, rgb(153, 173, 255) 0%, rgb(221, 149, 255) 70%);
	background-attachment: fixed;
}

body {
	margin: 0;
	min-height: 100vh;
}

.ping {
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 1;
}

;