@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	background: linear-gradient(215deg, rgb(153, 173, 255) 0%, rgb(221, 149, 255) 70%);
	background-attachment: fixed;
  }
  
  body {
	margin: 0;
	min-height: 100vh; 
  }
  
  .content-wrapper {
	overflow-y: auto;
  }
  