@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(215deg, rgba(167, 139, 252, 1) 0%, rgba(205, 223, 255, 1) 70%);
	margin: 0;
	height: 100vh;
	overflow: hidden;
  }
  
  



  
  