@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(215deg, rgb(153, 173, 255) 0%, rgb(221, 149, 255) 70%);
	margin: 0;
	height: 100vh;
	overflow: hidden;
  }
  
  



  
  